@charset "UTF-8";
@import url(reset.css); 

#content_wrap {
    width: 100%;
}

#content_wrap > .main_content {
    width: 1024px;
    margin: 0 auto;
}

#content_wrap > .main_content > .current_ex {
    width: 1024px;
    background: #f4f5f9;
    height: 400px;
}



