#content_wrap {
    width: 100%;
    background: #f4f5f9;
}
/* 타이틀 */
#content_wrap > .main_content {
    width: 1024px;
    margin: 0 auto;
    height: 800px;
    overflow: hidden;
    background: #f4f5f9;
}

#content_wrap > .main_content > .object_tit {
    padding-top: 20px;
}

#content_wrap > .main_content > .object_tit > h2 {
    font-family: 'Fraunces', serif;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

/* 컬러차트 */
#content_wrap > .main_content .color_chart {
    width: 50%;
    margin: 25px auto;
}


