@charset "USF-8"

/* 초기화 */
* {
    margin: 0;
    padding: 0;
}
a { text-decoration: none; }
img { border: 0; }
li { list-style: none; }

body {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    min-width: 720px;    
}

#main_header {
    position: relative;
    height: 20px;
}

a { color: rgb(179, 146, 0);}
a:visited { color: rgb(255, 188, 2);}

#main_header > #nav_cart {
    position: absolute;
    height: 10px;
    top: 10px;
    right: 0px; 
}   

#nav_cart > span {
    margin-left: 20px;
}

#gnb {
    display: block;
    width: 960px;
    margin: 0 auto;
}
#gnb > .menu { 
    text-align: center;
}

.menu > span {
    margin: 10px 20px;
}

#content {
    width: 960px;
}

#main_section > .main_article {
    margin: 5px 10px 0 0;
}

#main_section > .main_article > img {
    width: 960px;
    height: 300px;
}

#main_footer {
    overflow: hidden;
    width: 100%;
    background: rgb(11, 11, 43);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

#main_footer > .footer_inform {
    float: left;
    width: 450px;
}

#main_footer > .icon {
    float: right;
    display: block;
}

#main_footer > #fnb {
    float: left;
    width: 960px;
    padding: 10px;
}

#fnb > span {
    margin: 5%;
}