@charset "UTF-8";
@import url(reset.css); 

#content_wrap {
    width: 100%;
}

#content_wrap > #main_content {
    width: 1024px;
    margin: 0 auto;
}

#main_content > .main_logo {
    overflow: hidden;
    margin-top: 10px;
}

.logo > h1 {
    text-align: center;
    font-size: 5em;
    font-weight: bolder;
    height: 100px;
    z-index: 1;
}

.main_logo > .art_obj {
    width: 500px;
    height: 600px;
    border: 10px solid rgb(26, 49, 13);
    margin: 0 auto;
    z-index: -1;
}
