@charset "UTF-8";

* {
    margin: 0; padding: 0;
font: normal 15px 'Arial';
}

a { text-decoration: none !important;}
img { border: 0;}
ul {list-style: none;}

#container {
    width: 960px;
    margin: 0 auto;
}

/* ν—¤λ” */
header {
    background: cadetblue;
}

nav {
    height: 100px;
}

section {
    overflow: hidden;
}


/* ν‘Έν„° */
footer {
    height: 100px;
    background: darkseagreen;
}


@media screen and (max-width: 767px) {
    section > article {
        float: none;
        width: 100%;
    }
    
    section > article:nth-child(1) {
        background: cornflowerblue;
        height: 500px;
    }
    
    section > article:nth-child(2) {
        background: darkkhaki;
        height: 500px;
    }
}

@media screen and (min-width:763px) and (max-width:959px) {
    section > article {
        float: left;
    }
    
    section > article:nth-child(1) {
        width: 300px;
        background: cornflowerblue;
        height: 900px;
    }
    
    section > article:nth-child(2) {
        width: 660px;
        background: darkkhaki;
        height: 900px;
    }
}

@media screen and (min-width:960px) {
    section > article {
        float: left;
    }
    
    section > article:nth-child(1) {
        width: 300px;
        background: cornflowerblue;
        height: 900px;
    }
    
    section > article:nth-child(2) {
        width: 660px;
        background: darkkhaki;
        height: 900px;
    }
}