@charset "UTF-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
a { text-decoration: none; }
img { border: 0; }
li { list-style: none; }



body {
    margin: 0 auto;
    height: 100%;
    min-width: 720px;
}
/* 헤더 */
#main_header {
    width: 100%;
    position: relative;
}

##main_header > #header_inner {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    height: 75px;
}

#header_inner > #title {
    position: absolute;
    left: 20px;
    top: 30px;
}

#title > img {
    width: 300px;
    height: 100px;
}

#header_inner > #top_nav {
    width: 100%;
    position: relative;
}

#top_nav > #nav_login {
    position: absolute;
    right: 25px;
    top: 0px;
    height: 30px;
    padding: 12px;
}
#nav_login > span {
    padding-right: 5px;
    margin-right: 5px;
}

#header_inner > #bottom_nav {
    position: relative;
}

#bottom_nav > #nav_sub {
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 100px;
    width: 510px;
}

#nav_sub > .nav_left {
    float: left;
    width: 300px;
}
.nav_left > span {
    margin-right: 3px;
}

#nav_sub > .navbar-search {
    float: left;
    width: 200px;
    margin-left: 3px;
}

/* 네비게이션 */
#main_gnb {
    position: relative;
}

#nav_gnb {
    position: relative;
    top: 150px;
    border-top: 1px solid lightgray;
    width: 1440px;
    margin: 0 auto;
} 

#nav_gnb > .gnb_menu {
    overflow: hidden;
}    

#nav_gnb > .gnb_menu > li {
    float: left;
    margin: 10px;
}

/* 콘텐츠 */
#content {
    position: relative;   
}

#content > #main_section {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}

#main_section > .main_article {
    margin-bottom: 5px;
}

.sub_article {
    overflow: hidden;
    width: ;
}

.sub_article > .row {
    float: left;
    margin-right: 10px;
}


/* 푸터 */
