@charset "UTF-8";
@import url(reset.css); 

#content_wrap {
    width: 100%;
}

/* 배경비디오 */
.video_container {
    padding: 0;
    width: 100%;
    height: calc(100vh - 120px);
}
iframe {
    box-sizing: border-box;
    width: 177.77777778vh;
    height: 56.25vw;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: -99;
}

/* 슬라이드 */
.slide {
    width: 1024px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.slide .slide_box {
    width: 4096px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slide .slide_box .boxs {
    float: left;
    width: 1024px;
    height: 500px;
    /* top: 0;
    left: 0; */
}

#next {
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer;
    z-index: 1;
    width: 500px;
    height: 500px;
    /* background: #252c41;
    border-radius: 50px 50px; */
}

#back {
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
    z-index: 11;
    width: 500px;
    height: 500px;
    /* background: #252c41;
    border-radius: 50px 50px; */
}

/* 미술관 역사(history) 텍스트 */
.video_container > .history {
    width: 1024px;
    margin: 5px auto;
}

.history > .history_txt {
    margin: 10px auto;
}

.history > .history_txt .box_1, .box_4 {
    padding-top: 150px;
}

.history > .history_txt .box_3 {
    padding-top: 100px;
}

.history > .history_txt .box_1 h2, .history > .history_txt .box_4 h2 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.history > .history_txt .box_1 p, .history > .history_txt .box_4 p {
    text-align: center;
    font-size: 1.5em;
}

.history > .history_txt .box_2 h3, .history > .history_txt .box_3 h3 {
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 1.5em;
    border-bottom: 1px solid  #252c41;
}

.history > .history_txt .box_2 p, .history > .history_txt .box_3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 10px;
}

/* 미디어 쿼리 */
@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
    
}